div.cs-skin-elastic {
	background: transparent;
	font-size: 1.5em;
	font-weight: 700;
	color: #5b8583;
}

@media screen and (max-width: 30em) {
	div.cs-skin-elastic { font-size: 1em; }
}

.cs-skin-elastic > span {
	background-color: #fff;
	z-index: 100;
}

.cs-skin-elastic > span::after {
	font-family: 'icomoon';
	content: '\e005';
	backface-visibility: hidden;
}

.cs-skin-elastic .cs-options {
	overflow: visible;
	background: transparent;
	opacity: 1;
	visibility: visible;
	padding-bottom: 1.25em;
	pointer-events: none;
}

.cs-skin-elastic.cs-active .cs-options {
	pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transform: scale3d(1,0,1);
	background: #fff;
	transform-origin: 50% 0%;
	transition: transform 0.3s;
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
	transform: scale3d(1,1,1);
	transition: none;
  animation: expand 0.6s ease-out;
}

.cs-skin-elastic .cs-options ul li {
	opacity: 0;
	transform: translate3d(0,-25px,0);
	transition: opacity 0.15s, transform 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li {
	transform: translate3d(0,0,0);
	opacity: 1;
	transition: none;
  animation: bounce 0.6s ease-out;
}

.cs-skin-elastic .cs-options span {
	background-repeat: no-repeat;
	background-position: 1.5em 50%;
	background-size: 2em auto;
	padding: 0.8em 1em 0.8em 4em;
}

.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
	color: #1e4c4a;
}

.cs-skin-elastic .cs-options .cs-selected span::after {
	content: '';
}

.cs-skin-elastic .cs-options li.flag-france span {
	background-image: url(../img/france.svg);
}

.cs-skin-elastic .cs-options li.flag-brazil span {
	background-image: url(../img/brazil.svg);
}

.cs-skin-elastic .cs-options li.flag-safrica span {
	background-image: url(../img/south-africa.svg);
}

.cs-skin-elastic .cs-options li.flag-argentina span {
	background-image: url(../img/argentina.svg);
}

@keyframes expand { 
	0% {  transform: scale3d(1,0,1); }
	25% {  transform: scale3d(1,1.2,1); }
	50% {  transform: scale3d(1,0.85,1); }
	75% {  transform: scale3d(1,1.05,1); }
	100% {  transform: scale3d(1,1,1); }
}

@keyframes bounce { 
	0% {  transform: translate3d(0,-25px,0); opacity:0; }
	25% {  transform: translate3d(0,10px,0); }
	50% {  transform: translate3d(0,-6px,0); }
	75% {  transform: translate3d(0,2px,0); }
	100% {  transform: translate3d(0,0,0); opacity: 1; }
}
