<div class="container">
	<!-- Top Navigation -->
	<div class="codrops-top clearfix">
		<a class="codrops-icon codrops-icon-prev" href="http://github.com/rajasegar/ember-custom-select/"><span>Github</span></a>
		<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=19400"><span>Codrops Article</span></a></span>
	</div>
	<header class="codrops-header">
		<h1>ember-custom-select</h1>	
		<nav class="codrops-demos">
      {{#link-to 'index' activeClass='current-demo'}}Border{{/link-to}}
      {{#link-to 'underline' activeClass='current-demo'}}Underline{{/link-to}}
      {{#link-to 'elastic' activeClass='current-demo'}}Elastic{{/link-to}}
      {{#link-to 'slide' activeClass='current-demo'}}Slide{{/link-to}}
      {{#link-to 'overlay' activeClass='current-demo'}}Overlay{{/link-to}}
      {{#link-to 'rotate' activeClass='current-demo'}}Rotate{{/link-to}}
      {{#link-to 'box-select' activeClass='current-demo'}}Box Select{{/link-to}}
      {{#link-to 'circular' activeClass='current-demo'}}Circular{{/link-to}}
		</nav>
	</header>
{{outlet}}
	<!-- Related demos -->
	<section class="related">
		<p>If you enjoyed this demo you might also like:</p>
		<a href="http://rajasegar.github.io/ember-loading-button">
			<h3>ember-loading-button</h3>
		</a>
		<a href="http://rajasegar.github.io/ember-stylish-buttons/">
			<h3>ember-stylish-buttons</h3>
		</a>
	</section>
</div><!-- /container -->
