<section>
  {{#ec-select style='elastic' placeholder="Select a Country"}}
    <option value="france" data-class="flag-france">France</option>
		<option value="brazil" data-class="flag-brazil">Brazil</option>
		<option value="argentina" data-class="flag-argentina">Argentina</option>
		<option value="south-africa" data-class="flag-safrica">South Africa</option>
  {{/ec-select}}
</section>

