<section>
    {{#ec-select style='cs-skin-border' placeholder="Preferred contact method"}}
			<option value="email">E-Mail</option>
			<option value="twitter">Twitter</option>
			<option value="linkedin">LinkedIn</option>
    {{/ec-select}}
	</section>
