<section>
  {{#ec-select style="rotate" customClasses='cs-skin-custom' placeholder="CHOOSE YOUR DINOSAUR"}}
    <option value="1">Stegosaurus</option>
		<option value="2">Velociraptor</option>
		<option value="3">Spinosaurus</option>
		<option value="4">Archaeopteryx</option>
		<option value="5">Apatosaurus</option> 
  {{/ec-select}}

</section>
