<section>
  {{#ec-select style='slide' placeholder="Travel Type"}}
    <option value="sightseeing" data-class="icon-camera">Sight Seeing</option>
		<option value="business" data-class="icon-money">Business</option>
		<option value="honeymoon" data-class="icon-heart">Honeymoon</option>
		<option value="food" data-class="icon-food">Gourmet</option>
		<option value="shopping" data-class="icon-shirt">Shopping</option>
  {{/ec-select}}
</section>

